* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

.nav-container {
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #f1f1f1;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    padding: 0.9rem;
}

.span-new {
    color: var(--color-morado);
    font-weight: 800;
}

.span-focus {
    color: var(--color-naranja);
    font-weight: 800;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0.125rem 0.313rem 0.625rem 0rem rgb(0 0 0 / 20%);
    margin: 0.625rem 0 0.25rem 0;
    border-radius: 0.625rem;
}

.menu li {
    list-style: none;
    margin: 0.5rem 0rem;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

.header-space {
    height: 7.5rem;
}

/* swiper-slide */

.swiper {
    height: 86vh;
    width: 100vw;
    box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 20%);
}

.swiper-slide {
    height: 87vh;
    width: 90vw;
}

/* indexSlider-1 */

.swiper-slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.introduction{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 16rem;
    text-align: center;
    line-height: 2.4rem;
    font-size: 2.2rem;
    margin: 2.2rem 0 1rem 0;
}

.introduction-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9rem;
    padding: 1.5rem 1.7rem 0.5rem 1.7rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.5rem 1.375rem 0rem rgb(0 0 0 / 25%);
}

.subtitle {
    width: 15rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.introduction-list {
    margin: 1.25rem 3.063rem ;
}

.introduction-items {
    font-weight: 500;
}

.sample-index-slider-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 19rem;
    overflow: hidden;
    margin-top: 2rem;
}

.sample-mobile {
    width: 14.25rem;
    height: 28.5rem;
    object-fit: cover;
}

.sample-res {
    display: none;
}

/* indexSlider-2 */

.introduction-2{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-2 {
    width: 15rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.text-introduction {
    margin: 1rem 0;
    font-weight: 500;
    width: 14rem;
    text-align: center;
    line-height: 1.4rem;
}

.newfocus-logo {
    width: 9.8rem;
    height: 7rem;
    object-fit: cover;
}

.sample-mobile-2 {
    width: 14rem;
    height: 30.5rem;
    border-radius: 1.1rem;
    box-shadow: 0.125rem 0.313rem 0.625rem 0rem rgb(0 0 0 / 20%);
    object-fit: cover;
}

.sample-index-slider-mobile-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 18rem;
    overflow: hidden;
    margin-top: 2rem;
}

/* indexSlider-3 */

.sample-index-slider-mobile-2:nth-child(3) {
    height: 17rem;
}

/* indexSlider-4 */

.sample-index-slider-mobile-2:nth-child(4) {
    height: 16rem;
}

.introduction-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.9rem;
    padding: 1.5rem 1.7rem 0.5rem 1.7rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.5rem 1.375rem 0rem rgb(0 0 0 / 25%);
}

.subtitle-4 {
    width: 15rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.num-circles {
    display: none;
}

/* indexSlider-5 */

.introduction-5{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-introduction-4 {
    margin: 1rem 0;
    font-weight: 500;
    width: 14rem;
    text-align: center;
    line-height: 1.4rem;
}

.calendar-head-text {
    display: none;
}

.calendar-text {
    display: none;
}

/* indexSlider-6 */

.sample-index-slider-mobile-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 23rem;
    overflow: hidden;
    margin-top: 2rem;
}



/* Section About */

.title-2 {
    width: 16rem;
    text-align: center;
    line-height: 2.4rem;
    font-size: 2.2rem;
    margin: 2.2rem 0 1rem 0;
}

.section-about {
    padding: 0 0 5rem 0;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.8rem 1rem rgb(0 0 0 / 10%);
}

.container-box-about {
    width: 18.5rem;
    background-color: #fff;
    box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 20%);
    margin-top: 1rem;
    border-radius: 1rem 0 1rem 1rem;
    transition: all 0.5s ease;
}

.container-box-about:hover {
    transform: scale(1.05);
}

.subcontainer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.938rem 0rem 0.625rem 0rem;
}

.name-box-about {
    font-size: 1.6rem;
    font-weight: 700;
    opacity: 0.8;
}

.slogan-box-about {
    font-size: 0.76rem;
    opacity: 0.7;
    letter-spacing: .1rem;
}

.icon-box-about {
    display: none;
}

.subcontainer-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.name-box-about-2 {
    display: none;
}

.slogan-box-about-2 {
    display: none;
}

.text-box-about {
    font-size: 1rem;
    margin: 0.5rem 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.4rem;
}

/* Sub Section About */

.line-container {
    margin: 5rem 0 0 0;
    width: 80vw;
}

.line-box {
    padding: 1.5rem;
    border: 1.5px solid #eaeaea;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.5s;
    margin-bottom: 15px;
}

.line-box:hover {
    box-shadow: 0px 5px 10px 0px #ccc;
    border: 1px solid transparent;
}

.line-description {
    font-size: 0.95rem;
    margin: 1rem 0.5rem 0rem 0.5rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.line-title {
    text-align: center;
    margin: 0rem 0rem 1rem 0rem;
}

.line {
    height: 2.5px;
    margin: 10px 0;
    width: 100%;
    border-radius: 100px;
    display: block;
    background-color: rgb(214, 214, 214);
}

/* Promo slider */

.promo-slider {
    width: 80vw;
    height: 20rem;
    margin: 2rem 0 0 0;
}

.promo-title {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    margin: 3rem 0 0 0;
}

.slide-promo {
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #eaeaea;
    overflow: hidden;
    background-size: cover;
}

.promo-text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.icon {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.icon-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .47);
    opacity: 0;
    transition: .8s;
}

.icon-title {
    color: #ffffff;
    text-shadow: #d951ff 0rem 0rem 2rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.promo-link {
    padding: 0.3rem 2.8rem;
    background: #141414;
    border-radius: 10rem;
    color: #ffffff;
    text-shadow: #d951ff 0rem 0rem .8rem ;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.icon-content:hover {
    opacity: 1;
    box-shadow: 0 1.4rem 1.6rem 0rem #ccc;
}

/* Section */

.dropdown-question {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    overflow-y: auto;
}

.frecuentContainer {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 4rem;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 1rem;
    transition: .6s;
}

.questions {
    font-size: 1rem;
}

.question:hover {
    box-shadow: 0 0.4rem 0.6rem 0rem #ccc;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.answer {
    width: 100%;
    padding: 0 1.25rem 0rem 1.125rem;
    overflow: hidden;
    height: 0.125rem;
    transition: .4s;
    margin: 1.1rem 0;
}

.answer p {
    line-height: 1.375rem;
    font-size: 0.98rem;
    font-weight: 500;
    justify-content: start;
    display: flex;
    align-items: center;
}

/* footer */

footer {
    color: #fff;
    text-align: center;
    padding: 1.6rem 0;
}

.social-media a {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
}

.social-media img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}